@import '../../../../styles/variables';

.message-wrapper {
    overflow-y: scroll;
    height: 65vh;
}

.select-room {
    .select-room-message {
        width: 30%;
        height: 7%;
        margin-bottom: 10%;
        border: 1px solid $light-grey;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2em;
        box-shadow: 0 5px 10px $light-grey;
    }
}
