@import '../../styles/variables';

.no-photo {
    height: 150px;
    width: 150px;
    background: $grey;
    margin: 1em 0;
    color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.profile-pic {
    max-height: 150px;
    max-width: 150px;
    margin: 1em 0;
}

input {
    border: 2px solid $light-grey;
    border-radius: 5px;
    padding: .25em .5em;
    margin-bottom: 1em;
    width: 100%;
    font-weight: 200;
}
