@import '../../styles/variables';

span {
    color: #fff;
    &:hover {
        cursor: pointer;
    }
}


.nav-item {
    color: $light-grey;
    &:hover {
        cursor: pointer;
    }
}

a {
    color: $light-grey;
    margin-left: 3em;
    &.active {
        border-bottom: 3px solid $gold;
    }
}
