@import '../../styles/variables';

.mat-card {
    background: #eaeaea;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
}

.login-container {

    h2 {
        color: $grey;
    }

    p {
        font-size: 22px;
        margin-bottom: 30px;
        color: white;
        font-weight: 400;
    }

    form {
        max-width: 500px;
        margin: auto;
        mat-form-field {
            width: 100%;
        }
        button {
            max-width: 300px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    .btn-facebook {
        background: #4267b2;
        color: white;
        height: 40px;
        text-align: center;
        max-width: 300px;
        &:hover {
            cursor: pointer;
            background: #16377b;
        }
    }

}
