@import '../styles/variables';

.alert-wrapper {
    position: relative;
    alert {
        position: absolute;
        top: 80px;
        width: 100%;
        z-index: 100;
    }
}

.content {
    background: #eaeaea;
}

.mat-toolbar {
    background: darkorange;
}

footer {
    height: 120px;
}
