<app-navbar></app-navbar>
<div class="container-wrapper container d-flex justify-content-center align-items-center">
    <div class="form-wrapper text-center">
        <h2 class="text-center">Register</h2>
        <form [formGroup]="registerForm" (submit)="submitRegister()" novalidate>
            <div class="form-group">
                <input type="text" class="form-control" id="display-name-input" placeholder="Enter display name" formControlName="displayName" />
            </div>
            <div class="form-group">
                <input type="email" class="form-control" id="email-input" placeholder="Enter email" formControlName="email" />
            </div>
            <div class="form-group">
                <input type="password" class="form-control" id="password-input" placeholder="Enter password" formControlName="password" />
            </div>
            <button type="button" class="btn btn-primary" (click)="submitRegister()">Submit</button>
        </form>
        <small><a routerLink="/">Already have an account?</a></small>
    </div>
</div>
